.grid {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: .9rem;
}

.grid-header {
  display: flex;
  height: 20px;
  background-color: var(--huge-grey);
  margin: 0 auto;
  width: 83vw;
  transform: perspective(300px) rotateX(45deg);
}

.drawer-box {
  position: relative;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
}

.drawer-content {
  display: flex;
  flex-flow: row;
  justify-content: center;
  position: relative;
  top: 70%;
}

.drawer-sticker {
  display: flex;
  align-items: center;
}

.drawer-title, .drawer-total {
  color: var(--huge-grey);
  transition: all 250ms;
  font-size: 1rem;
}

.drawer-total {
  height: 20px;
  width: 20px;
  font-size: .8rem;
  line-height: 20px;;
  border-radius: 50%;
  color: var(--huge-black);
  background: var(--huge-white);
  padding: 5px;
  margin-left: 10px;
}

.drawer-handle {
  background: var(--huge-white);
  box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.75);
  height: 10px;
  position: absolute;
  top: calc(50% - 10px);
  left: calc(50% - 50px);
  width: 100px;
} 

.wrapper {
  background-color: silver;
  background-image: linear-gradient(335deg, #b00 23px, transparent 23px),
  linear-gradient(155deg, #d00 23px, transparent 23px),
  linear-gradient(335deg, #b00 23px, transparent 23px),
  linear-gradient(155deg, #d00 23px, transparent 23px);
  background-size: 58px 58px;
  background-position: 0px 2px, 4px 35px, 29px 31px, 34px 6px;
  display: grid;
  height: 100vh;
  grid-template-rows: 25% 25% 25% 25%;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-areas:
  "box1 box2 box3 box4"
  "box5 box6 box7 box8"
  "box9 box10 box11 box12"
  "box13 box13 box13 box13";
  margin: 0 auto 2vh auto;
  width: 85vw;
}

.wrapper .grid-box {
  animation: fadeIn 300ms ease-in normal backwards;
  background-image:radial-gradient(circle, var(--huge-grey-dark2), var(--huge-grey-dark));
  font-size: 5rem;
  color: white;
  font-family: sans-serif;
  box-shadow:0 0.1rem 0.3rem rgba(0,0,0,0.12), 
  0 1px 5px rgba(0,0,0,0.24);
  transition: all 250ms;
  text-align: center;
  
}

.wrapper .grid-box:hover {
  box-shadow:0 1.5rem 2rem rgba(0,0,0,0.3), 
  0 13px 15px rgba(0,0,0,0.4);
  position: relative;
  z-index: 2;
  transform: translate3d(0, 20px, 100px) perspective(500px) rotateX(-5deg);
  cursor: pointer;
}

.wrapper .grid-box:hover .drawer-content .drawer-title,
.wrapper .grid-box:hover .drawer-content .drawer-total {
  color: var(--huge-white);
}

.wrapper .grid-box:hover .drawer-content .drawer-total {
  color: var(--huge-white);
  box-shadow: 1px 1px 1px 1px rgba(100,100,100,1);
}

.wrapper .el1 { grid-area: box1; animation-delay: 100ms;}
.wrapper .el2 { grid-area: box2; animation-delay: 150ms;}
.wrapper .el3 { grid-area: box3; animation-delay: 200ms;}
.wrapper .el4 { grid-area: box4; animation-delay: 250ms;}
.wrapper .el5 { grid-area: box5; animation-delay: 300ms;}
.wrapper .el6 { grid-area: box6; animation-delay: 350ms;}
.wrapper .el7 { grid-area: box7; animation-delay: 400ms;}
.wrapper .el8 { grid-area: box8; animation-delay: 450ms;}
.wrapper .el9 { grid-area: box9; animation-delay: 500ms;}
.wrapper .el10 { grid-area: box10; animation-delay: 550ms;}
.wrapper .el11 { grid-area: box11; animation-delay: 600ms;}
.wrapper .el12 { grid-area: box12; animation-delay: 650ms;}
.wrapper .el13 { grid-area: box13; animation-delay: 700ms;}

@keyframes fadeIn {
  from { transform: scale(0);}
  to { transform: scale(1);}
}

.paralax-bg {
  height: 100vh;
  position: relative;
  overflow: hidden;
  width: 100%;
}

.layer {
  position: absolute;
  height: 100vh;
  width: 100%;
  bottom: 0;
  left: 0;
  transition: all 3s ease;
}

.layer.layer7 {
  position: relative;
  text-align: center;
}

.extruded-text {
  color: #FFFFFF;
  text-shadow: 0 1px 0 #CCCCCC, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
}

.extruded-text:hover {
  color: #eee;
}

.layer.layer8 {
  padding: 0 20px;
  position: absolute;
  top: 25%;
  z-index: 8;
}

.layer.layer9 {
  bottom: 0;
  left: 20%;
  top: 88%;
}

.layer.layer9 img {
  height: 50px;
}

.layer10 {
  left: 75%;
  top: 77%;
  z-index: 100;
}

.paralax-bg:hover .layer2 {
  transform: translateX(50px);
}

.paralax-bg:hover .layer3 {
  transform: translateX(-50px);
}

@keyframes circle {
  0% { clip-path: circle(100% at 50% 50%); }
  100% { clip-path: circle(0% at 50% 50%); }
}

.paralax-bg.selected {
  /*animation: 1.4s circle;*/
}