/* Webfont: HUGE-AvantGarde-Bold */@font-face {
  font-family: 'HUGEAvantGarde';
  src: url('/fonts/HUGE-AvantGarde-Bold.eot'); /* IE9 Compat Modes */
  src: url('/fonts/HUGE-AvantGarde-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/HUGE-AvantGarde-Bold.woff') format('woff'), /* Modern Browsers */
       url('/fonts/HUGE-AvantGarde-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/HUGE-AvantGarde-Bold.svg#HUGE-AvantGarde-Bold') format('svg'); /* Legacy iOS */
  font-style: normal;
  font-weight: bold;
  text-rendering: optimizeLegibility;
}