* {
  margin: 0;
  padding: 0;
}
:root {
  --huge-black: #000;
  --huge-grey: #808080;
  --huge-grey-dark: #232525;
  --huge-grey-dark2: #343737;
  --huge-magenta: #ec008c;
  --huge-white: #fff;
  --huge-blue: #2fbbf9;
  --huge-bg-modal: rgba(0,0,0,0.4);
  --huge-bg-modal-white: rgba(255,255,255,.85);
}
/*

*/
body {
  background: var(--huge-white);
  /*font-family: "HUGEAvantGarde", Georgia;*/
  font-family: "Press Start 2P";
  letter-spacing: -.01719rem;
}

h1 {
  font-size: 8rem;
}
h2 {
  font-size: 5rem;
}
h3 {
  font-size: 4rem;
}
h4 {
  font-size: 3rem;
}
h5 {
  font-size: 3.5rem;
}
h6 {
  font-size: 2.5rem;
}
p {
  font-size: 2rem;
}

h1,h2,h3,h4,h5,h6, p {
  color: var(--huge-black);
}

.app {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: relative;
}

.container {
  background-color: var(--huge-black);
  display: flex;
  flex-flow: column nowrap;
  overflow: hidden;
}

.frame {
  height: 100vh;
  width: 100vw;
  position: absolute;
  transition: all 100ms linear;
  top: 0;
  left: 0;
  opacity: 1;
  z-index: 150;
}

.frame.hidden {
  opacity: 0;
  z-index: 100;
}

.menu {
  margin: 80px 0 0;
  text-align: center;
}

.separator {
  background: black;
  bottom: 0;
  height: 50px;
  left: 50%;
  margin-top: 20px;
  position: relative;
  width: 1px;
}

.linktosantas {
  margin-top: 60px;
}

.title {
  letter-spacing: -.3125rem;
  padding: 20px 0;
  text-rendering: optimizeLegibility;
  vertical-align: baseline;
  -webkit-font-smoothing: antialiased;
  text-align: center;
}

.h-logo {
  background-color: #fff;
  cursor: pointer;
  transition: transform 500ms cubic-bezier(0.25, 0.1, 0.25, 1),opacity 500ms cubic-bezier(0.25, 0.1, 0.25, 1),background-color 200ms cubic-bezier(0.25, 0.1, 0.25, 1);
  z-index: 200;
}

.h-logo--wink {
  background-position: 0 0;
  background-repeat: no-repeat;
  display: none;
  height: 148px;
  left: 0;
  position: absolute;
  top: 0;
  transform-origin: 0 0;
  transform: scale(0.405);
  width: 148px;
  z-index: 1;
}

.h-logo__svg {
  fill: var(--huge-magenta);
  height: 28px;
  width: 20px;
}

.footer {
  align-content: center;
  display: flex;
  height: 50px;
  justify-content: center;
  margin: 100px 0 0;
  text-align: center;
}

.bigh {
  background: red;
}

.santa-random {
  height: 50px;
  position: absolute;
  top: 0;
  left: 500px;
  animation: pulse 1s infinite, bounceInDown 2s;
  transition: all .3s linear;
}

.santa-random:hover {
  transform: scale(1.1);
}

.purpose-data {
  background: var(--huge-bg-modal-white);
  height: 100%;
  left: 0;
  overflow: auto;
  display: none;
  position: fixed;
  transition: .2s all ease-in;
  top: 0;
  width: 100%;
  z-index: 1;
}

.form-container.visible {
  display: block;
  transform: scale(1);
}

.purpose-data.visible {
  display: block;
}

.form-wrapper {
  border-radius: 10px;
  margin: 0 auto;
  position: relative;
  top: 10%;
  width: 50%;
}

.purpose-data-container {
  background: var(--huge-white);
  border-radius: 10px;
  height: 80%;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  top: 10%;
  width: 80%;
}

.purpose-data .close,
.form-container .close {  
  color: var(--huge-black);
  cursor: pointer;
  position: absolute;
  right: 20px;
  text-decoration: none;
  transition: .2s all linear;
  top: 20px;
}

.purpose-data-container .close:hover {
  color: var(--huge-magenta);
}

.purpose-data p {
  padding: 10px 0;
}
.purpose-data .purpose-office {
  color: var(--huge-grey);
  font-size: 1.2rem;
}

.purpose-data .purpose-text {
  font-size: 2.4rem;
  line-height: 3rem;
}

.purpose-data .purpose-name {
  color: var(--huge-magenta);
  font-size: 1rem;
}

.word {
  background: var(--huge-black);
  padding-top: 100px;
}

.word .wrapper {
  margin: 0 auto;
  width: 70%;
}

.wrapper {
  position: relative;
}

.submenu {
  border-radius: 5px;
  margin: 0 auto;
  width: 80%;
}

.purpose {
  margin: 0 0 50px 0;
}

.seesantas {
  color: var(--huge-black);
  font-family: "Copernicus", serif;
  font-size: 1.2rem;
  letter-spacing: -1px;
  text-decoration: none;
}

.form-wrapper {
  display: flex;
  flex-flow: column;
  width: 85vw;
}

.form-container {
  position: absolute;
  width: 50%;
  z-index: 3;
  background: white;
  left: 50%;
  top: 130px;
  padding: 20px;
  border: 1px solid black;
  transform: scale(0) rotateY(-90deg) translateX(-50%);
  transition: all 250ms linear;
}

.error-message {
  margin: 10px 0;
}

.is-error {
  background: red;
  color: white;
}

.form-container .form-input {
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding: 10px 0;
}

.form-container textarea {
  height: 70px;
}

.form-container input[type=submit] {
  background: var(--huge-black);
  color: var(--huge-white);
  cursor: pointer;
  transition: all 250ms;
	width: 200px;
	height: 54px;
  margin-top: 20px;
	font-size: 1.2rem;
} 

.form-container input[type=submit]:hover {
  transform: perspective(200px) rotateX(-15deg);
}

.form-container.form-open {
  transform: scale(1) translate3d(-50%, -100%,0) rotateY(0);
}

.form-init {
  text-align: center;
  width: 100%;
}

.form-init a {
  text-decoration: none;
}

.form-init:hover .form-container {
  transform: rotateY(-90deg);
}

.icon-close {
  cursor: pointer;
}

.is-warning {
  width: 100%;
}

.message.-left {
  align-items: flex-end;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.nes-bcrikko {
  flex: 1;
}

.nes-balloon {
  flex: 9;
}

.building {
  position: absolute;
  animation: building 1s infinite;
  -webkit-animation: building 1s infinite;
  -moz-animation: building 1s infinite;
  -o-animation: building 1s infinite;
  transform: scale(.5);
}

@keyframes building {
0%, 100%{
  box-shadow: 40px 40px 0 0 rgba(0, 0, 0, 1), 50px 40px 0 0 rgba(0, 0, 0, 1), 60px 40px 0 0 rgba(0, 0, 0, 1), 70px 40px 0 0 rgba(0, 0, 0, 1), 80px 40px 0 0 rgba(0, 0, 0, 1), 90px 40px 0 0 rgba(0, 0, 0, 1), 100px 40px 0 0 rgba(0, 0, 0, 1), 110px 40px 0 0 rgba(0, 0, 0, 1), 120px 40px 0 0 rgba(0, 0, 0, 1), 130px 40px 0 0 rgba(0, 0, 0, 1), 140px 40px 0 0 rgba(0, 0, 0, 1), 150px 40px 0 0 rgba(0, 0, 0, 1), 160px 40px 0 0 rgba(0, 0, 0, 1), 40px 50px 0 0 rgba(0, 0, 0, 1), 50px 50px 0 0 rgba(255, 193, 7, 1), 60px 50px 0 0 rgba(255, 193, 7, 1), 70px 50px 0 0 rgba(255, 193, 7, 1), 80px 50px 0 0 rgba(255, 152, 0, 1), 90px 50px 0 0 rgba(255, 152, 0, 1), 100px 50px 0 0 rgba(255, 152, 0, 1), 110px 50px 0 0 rgba(255, 152, 0, 1), 120px 50px 0 0 rgba(255, 152, 0, 1), 130px 50px 0 0 rgba(255, 152, 0, 1), 140px 50px 0 0 rgba(255, 152, 0, 1), 150px 50px 0 0 rgba(255, 152, 0, 1), 160px 50px 0 0 rgba(0, 0, 0, 1), 40px 60px 0 0 rgba(0, 0, 0, 1), 50px 60px 0 0 rgba(255, 193, 7, 1), 60px 60px 0 0 rgba(255, 193, 7, 1), 70px 60px 0 0 rgba(0, 0, 0, 1), 80px 60px 0 0 rgba(0, 0, 0, 1), 90px 60px 0 0 rgba(0, 0, 0, 1), 100px 60px 0 0 rgba(255, 152, 0, 1), 110px 60px 0 0 rgba(0, 0, 0, 1), 120px 60px 0 0 rgba(0, 0, 0, 1), 130px 60px 0 0 rgba(0, 0, 0, 1), 140px 60px 0 0 rgba(255, 152, 0, 1), 150px 60px 0 0 rgba(255, 152, 0, 1), 160px 60px 0 0 rgba(0, 0, 0, 1), 40px 70px 0 0 rgba(0, 0, 0, 1), 50px 70px 0 0 rgba(255, 193, 7, 1), 60px 70px 0 0 rgba(255, 152, 0, 1), 70px 70px 0 0 rgba(0, 188, 212, 1), 80px 70px 0 0 rgba(0, 188, 212, 1), 90px 70px 0 0 rgba(0, 0, 0, 1), 100px 70px 0 0 rgba(255, 152, 0, 1), 110px 70px 0 0 rgba(0, 188, 212, 1), 120px 70px 0 0 rgba(0, 188, 212, 1), 130px 70px 0 0 rgba(0, 0, 0, 1), 140px 70px 0 0 rgba(255, 152, 0, 1), 150px 70px 0 0 rgba(255, 152, 0, 1), 160px 70px 0 0 rgba(0, 0, 0, 1), 40px 80px 0 0 rgba(0, 0, 0, 1), 50px 80px 0 0 rgba(255, 152, 0, 1), 60px 80px 0 0 rgba(255, 152, 0, 1), 70px 80px 0 0 rgba(255, 152, 0, 1), 80px 80px 0 0 rgba(255, 152, 0, 1), 90px 80px 0 0 rgba(255, 152, 0, 1), 100px 80px 0 0 rgba(255, 152, 0, 1), 110px 80px 0 0 rgba(255, 152, 0, 1), 120px 80px 0 0 rgba(255, 152, 0, 1), 130px 80px 0 0 rgba(255, 152, 0, 1), 140px 80px 0 0 rgba(255, 152, 0, 1), 150px 80px 0 0 rgba(255, 152, 0, 1), 160px 80px 0 0 rgba(0, 0, 0, 1), 40px 90px 0 0 rgba(0, 0, 0, 1), 50px 90px 0 0 rgba(0, 0, 0, 1), 60px 90px 0 0 rgba(0, 0, 0, 1), 70px 90px 0 0 rgba(0, 0, 0, 1), 80px 90px 0 0 rgba(0, 0, 0, 1), 90px 90px 0 0 rgba(0, 0, 0, 1), 100px 90px 0 0 rgba(0, 0, 0, 1), 110px 90px 0 0 rgba(0, 0, 0, 1), 120px 90px 0 0 rgba(0, 0, 0, 1), 130px 90px 0 0 rgba(0, 0, 0, 1), 140px 90px 0 0 rgba(0, 0, 0, 1), 150px 90px 0 0 rgba(0, 0, 0, 1), 160px 90px 0 0 rgba(0, 0, 0, 1), 40px 100px 0 0 rgba(0, 0, 0, 1), 50px 100px 0 0 rgba(255, 193, 7, 1), 60px 100px 0 0 rgba(255, 193, 7, 1), 70px 100px 0 0 rgba(255, 193, 7, 1), 80px 100px 0 0 rgba(255, 152, 0, 1), 90px 100px 0 0 rgba(255, 152, 0, 1), 100px 100px 0 0 rgba(255, 152, 0, 1), 110px 100px 0 0 rgba(255, 152, 0, 1), 120px 100px 0 0 rgba(255, 152, 0, 1), 130px 100px 0 0 rgba(255, 152, 0, 1), 140px 100px 0 0 rgba(255, 152, 0, 1), 150px 100px 0 0 rgba(255, 152, 0, 1), 160px 100px 0 0 rgba(0, 0, 0, 1), 40px 110px 0 0 rgba(0, 0, 0, 1), 50px 110px 0 0 rgba(255, 193, 7, 1), 60px 110px 0 0 rgba(255, 193, 7, 1), 70px 110px 0 0 rgba(0, 0, 0, 1), 80px 110px 0 0 rgba(0, 0, 0, 1), 90px 110px 0 0 rgba(0, 0, 0, 1), 100px 110px 0 0 rgba(255, 152, 0, 1), 110px 110px 0 0 rgba(0, 0, 0, 1), 120px 110px 0 0 rgba(0, 0, 0, 1), 130px 110px 0 0 rgba(0, 0, 0, 1), 140px 110px 0 0 rgba(255, 152, 0, 1), 150px 110px 0 0 rgba(255, 152, 0, 1), 160px 110px 0 0 rgba(0, 0, 0, 1), 40px 120px 0 0 rgba(0, 0, 0, 1), 50px 120px 0 0 rgba(255, 193, 7, 1), 60px 120px 0 0 rgba(255, 193, 7, 1), 70px 120px 0 0 rgba(3, 169, 244, 1), 80px 120px 0 0 rgba(3, 169, 244, 1), 90px 120px 0 0 rgba(0, 0, 0, 1), 100px 120px 0 0 rgba(255, 152, 0, 1), 110px 120px 0 0 rgba(0, 188, 212, 1), 120px 120px 0 0 rgba(0, 188, 212, 1), 130px 120px 0 0 rgba(0, 0, 0, 1), 140px 120px 0 0 rgba(255, 152, 0, 1), 150px 120px 0 0 rgba(255, 152, 0, 1), 160px 120px 0 0 rgba(0, 0, 0, 1), 40px 130px 0 0 rgba(0, 0, 0, 1), 50px 130px 0 0 rgba(255, 193, 7, 1), 60px 130px 0 0 rgba(255, 152, 0, 1), 70px 130px 0 0 rgba(0, 188, 212, 1), 80px 130px 0 0 rgba(0, 188, 212, 1), 90px 130px 0 0 rgba(0, 0, 0, 1), 100px 130px 0 0 rgba(255, 152, 0, 1), 110px 130px 0 0 rgba(0, 188, 212, 1), 120px 130px 0 0 rgba(0, 188, 212, 1), 130px 130px 0 0 rgba(0, 0, 0, 1), 140px 130px 0 0 rgba(255, 152, 0, 1), 150px 130px 0 0 rgba(255, 152, 0, 1), 160px 130px 0 0 rgba(0, 0, 0, 1), 40px 140px 0 0 rgba(0, 0, 0, 1), 50px 140px 0 0 rgba(255, 152, 0, 1), 60px 140px 0 0 rgba(255, 152, 0, 1), 70px 140px 0 0 rgba(255, 152, 0, 1), 80px 140px 0 0 rgba(255, 152, 0, 1), 90px 140px 0 0 rgba(255, 152, 0, 1), 100px 140px 0 0 rgba(255, 152, 0, 1), 110px 140px 0 0 rgba(255, 152, 0, 1), 120px 140px 0 0 rgba(255, 152, 0, 1), 130px 140px 0 0 rgba(255, 152, 0, 1), 140px 140px 0 0 rgba(255, 152, 0, 1), 150px 140px 0 0 rgba(255, 152, 0, 1), 160px 140px 0 0 rgba(0, 0, 0, 1), 40px 150px 0 0 rgba(0, 0, 0, 1), 50px 150px 0 0 rgba(255, 152, 0, 1), 60px 150px 0 0 rgba(255, 152, 0, 1), 70px 150px 0 0 rgba(255, 152, 0, 1), 80px 150px 0 0 rgba(255, 152, 0, 1), 90px 150px 0 0 rgba(255, 152, 0, 1), 100px 150px 0 0 rgba(255, 152, 0, 1), 110px 150px 0 0 rgba(255, 152, 0, 1), 120px 150px 0 0 rgba(255, 152, 0, 1), 130px 150px 0 0 rgba(255, 152, 0, 1), 140px 150px 0 0 rgba(255, 152, 0, 1), 150px 150px 0 0 rgba(255, 152, 0, 1), 160px 150px 0 0 rgba(0, 0, 0, 1), 30px 160px 0 0 rgba(0, 0, 0, 1), 40px 160px 0 0 rgba(0, 0, 0, 1), 50px 160px 0 0 rgba(255, 152, 0, 1), 60px 160px 0 0 rgba(255, 152, 0, 1), 70px 160px 0 0 rgba(255, 152, 0, 1), 80px 160px 0 0 rgba(255, 152, 0, 1), 90px 160px 0 0 rgba(255, 152, 0, 1), 100px 160px 0 0 rgba(255, 152, 0, 1), 110px 160px 0 0 rgba(255, 152, 0, 1), 120px 160px 0 0 rgba(255, 152, 0, 1), 130px 160px 0 0 rgba(255, 152, 0, 1), 140px 160px 0 0 rgba(255, 152, 0, 1), 150px 160px 0 0 rgba(255, 152, 0, 1), 160px 160px 0 0 rgba(0, 0, 0, 1), 170px 160px 0 0 rgba(0, 0, 0, 1), 20px 170px 0 0 rgba(0, 0, 0, 1), 30px 170px 0 0 rgba(0, 0, 0, 1), 40px 170px 0 0 rgba(0, 0, 0, 1), 50px 170px 0 0 rgba(0, 0, 0, 1), 60px 170px 0 0 rgba(0, 0, 0, 1), 70px 170px 0 0 rgba(0, 0, 0, 1), 80px 170px 0 0 rgba(0, 0, 0, 1), 90px 170px 0 0 rgba(0, 0, 0, 1), 100px 170px 0 0 rgba(0, 0, 0, 1), 110px 170px 0 0 rgba(0, 0, 0, 1), 120px 170px 0 0 rgba(0, 0, 0, 1), 130px 170px 0 0 rgba(0, 0, 0, 1), 140px 170px 0 0 rgba(0, 0, 0, 1), 150px 170px 0 0 rgba(0, 0, 0, 1), 160px 170px 0 0 rgba(0, 0, 0, 1), 170px 170px 0 0 rgba(0, 0, 0, 1), 180px 170px 0 0 rgba(0, 0, 0, 1), 10px 180px 0 0 rgba(0, 0, 0, 1), 20px 180px 0 0 rgba(96, 125, 139, 1), 30px 180px 0 0 rgba(96, 125, 139, 1), 40px 180px 0 0 rgba(96, 125, 139, 1), 50px 180px 0 0 rgba(96, 125, 139, 1), 60px 180px 0 0 rgba(48, 63, 70, 1), 70px 180px 0 0 rgba(48, 63, 70, 1), 80px 180px 0 0 rgba(48, 63, 70, 1), 90px 180px 0 0 rgba(48, 63, 70, 1), 100px 180px 0 0 rgba(48, 63, 70, 1), 110px 180px 0 0 rgba(48, 63, 70, 1), 120px 180px 0 0 rgba(48, 63, 70, 1), 130px 180px 0 0 rgba(48, 63, 70, 1), 140px 180px 0 0 rgba(48, 63, 70, 1), 150px 180px 0 0 rgba(48, 63, 70, 1), 160px 180px 0 0 rgba(48, 63, 70, 1), 170px 180px 0 0 rgba(48, 63, 70, 1), 180px 180px 0 0 rgba(48, 63, 70, 1), 190px 180px 0 0 rgba(0, 0, 0, 1), 10px 190px 0 0 rgba(0, 0, 0, 1), 20px 190px 0 0 rgba(0, 0, 0, 1), 30px 190px 0 0 rgba(0, 0, 0, 1), 40px 190px 0 0 rgba(0, 0, 0, 1), 50px 190px 0 0 rgba(0, 0, 0, 1), 60px 190px 0 0 rgba(0, 0, 0, 1), 70px 190px 0 0 rgba(0, 0, 0, 1), 80px 190px 0 0 rgba(0, 0, 0, 1), 90px 190px 0 0 rgba(0, 0, 0, 1), 100px 190px 0 0 rgba(0, 0, 0, 1), 110px 190px 0 0 rgba(0, 0, 0, 1), 120px 190px 0 0 rgba(0, 0, 0, 1), 130px 190px 0 0 rgba(0, 0, 0, 1), 140px 190px 0 0 rgba(0, 0, 0, 1), 150px 190px 0 0 rgba(0, 0, 0, 1), 160px 190px 0 0 rgba(0, 0, 0, 1), 170px 190px 0 0 rgba(0, 0, 0, 1), 180px 190px 0 0 rgba(0, 0, 0, 1), 190px 190px 0 0 rgba(0, 0, 0, 1);height: 10px; width: 10px;
  }
}

.nes-badge {
  bottom: 0;
  left: 50%;
  position: absolute;
  width: 100%;
  z-index: 1;
  transform: translateX(-100%);
}

.nes-badge.is-icon span.is-warning:last-child {
  display: flex;
  width: 8em;
}

.message-list {
  z-index: 8;
}

.character {
  bottom: 0;
  position: absolute;
  z-index: 7;
}

.player {
  overflow: hidden;
  position: relative;
  height: 96px;
  width: 96px;
}

.player img {
  height: 96px;
  width: 96px;
}