.layer10 {
  left: 75%;
  top: 80%;
  z-index: 100;
}

.nes-dialog.is-rounded {
  margin: 0 auto;
  width: 80%;
}

.wizard-man img {
  animation: wizard 2s ease-in normal backwards infinite;
  transform: rotateY(180deg);
  height: 108px;
  width: 112px;
}

@keyframes wizard {
  0% { transform: translateY(-10px) rotateY(180deg)}
  50% { transform: translateY(0) rotateY(180deg)}
  100% { transform: translateY(-10px) rotateY(180deg)}
}

.treasures {
  display: flex;
  z-index: 21;
}

.treasures img {
  display: flex;
  margin-left: 20px;
  transition: all 200ms linear;
  transform-origin: center;
}

.treasures img:hover {
  display: flex;
  margin-left: 20px;
  transform: scale(1.2);
}

.invalid {
  animation: invalid 100ms ease-in normal backwards 2;
}

@keyframes invalid {
  0% { transform: rotateZ(10deg)}
  50% { transform: rotateZ(-10deg)}
  100% {transform: rotateZ(10deg)}
}